@model CallCenterModel
@{
    ViewData["Title"] = "Call Center";
}

<!-- Start Content-->
<div class="container-fluid">
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">Services</li>
                        <li class="breadcrumb-item active">Call Center Analytics</li>
                    </ol>
                </div>
                <h4 class="page-title">Call Center Analytics</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Call Center Analytics</h4>
                    <p class="text-muted font-14">
                        Analyze call center call trancripts (that might come from your Call Center technology, or having transcribed with Azure Speech Services).
                    </p>
                    <form asp-controller="CallCenter" asp-action="AnalyzeCall" method="post">
                     
                    <div class="row">
                        <div class="col-12">
                            <label for="text" class="form-label">Transcript:</label>
                            <p class="text-muted font-14">
                                Write or paste the call transcript here:
                            </p>
                            <textarea class="form-control" id="transcript" name="transcript" rows="9">@(Model?.Transcript ?? @"Write or paste some call transcript here.")
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                                <p class="text-muted font-14">
                                    or select any of the following sample transcripts:
                                </p>
                        </div>
                        <div class="col-8">
                                <button type="button" class="btn btn-info btn-right" onclick="loadExampleGA()">Galego</button>
                                <button type="button" class="btn btn-info btn-right" onclick="loadExampleCA()">Catalan</button>
                                <button type="button" class="btn btn-info btn-right" onclick="loadExampleEK()">Euskera</button>
                                <button type="button" class="btn btn-info btn-right" onclick="loadExampleES()">Español</button>
                                <button type="button" class="btn btn-info btn-right" onclick="loadExampleEN()">English</button>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="text" class="form-label">Prompt:</label>
                            <textarea class="form-control" id="prompt" name="prompt" rows="9">@(Model?.Prompt ?? @"Extract the following information from the phone conversation use will send in a bulleted points format:
1. Call Reason
2. Name of agent
3. Name of caller 
4. Sentiment of the caller
5. Detailed summary
Use the same language of the transcript to complete the fields.") 
                            </textarea>
                        </div>

                    </div>

                    <div class="row">
                        <div class="mb-3">
                            <textarea class="form-control d-none" id="text" name="text" rows="9">@Model?.Transcript</textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-lg btn-primary" onclick="submitForm()">Analyze call</button>
                        </div>
                    </div>
                    </form>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
    </div>

    <div class="row d-none" id="loader">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
    </div>

@if (ViewBag.Message != null)
{
    <div class="row" id="showresult">
        <div class="col-lg-12">
            <div class="card">
                <div class="row g-0 align-items-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h2 class="header-title mt-0 mb-3">Call Transcript Analyze Result <span class="badge bg-success rounded-pill">Analysis Success</span></h2>
                            <p class="text-muted font-16 mb-3" id="show-message-result">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
    </div>
}

</div>
<!-- container -->

@section Scripts {
    @{await Html.RenderPartialAsync("_CallCenterScriptsPartial");}
}
