@model DocumentComparisonModel
@{
    ViewData["Title"] = "Document Comparison";
}

<!-- Start Content-->
<div class="container-fluid">
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">Services</li>
                        <li class="breadcrumb-item active">Document Comparison</li>
                    </ol>
                </div>
                <h4 class="page-title">Document Comparison</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Document Comparison with Azure OpenAI Services</h4>
                    <p class="text-muted font-14">Compare different versions of your documents with the powerful combination of GPT-4 and Azure Document Intelligence.</p>
                    <form asp-controller="DocumentComparison" asp-action="UploadFile" method="post" enctype="multipart/form-data" id="upload-form" class="dropzone" data-plugin="dropzone" data-previews-container="#file-previews" data-upload-preview-template="#uploadPreviewTemplate">
                        <div class="mb-3">
                            <label class="form-label">Prompt:</label>
                            <textarea class="form-control" id="prompt" name="prompt" maxlength="225" rows="3"> @(Model?.Prompt ?? "Compare the two documents provided, and detail their differences.") </textarea>
                        </div>
                        <div class="tab-content form-control">
                            <div class="tab-pane show active" id="file-upload-preview">

                                    <div class="fallback">
                                        <input type="file" id="documentFiles" name="documentFiles" multiple />
                                    </div>
                                    <div class="dz-message needsclick">
                                        <i class="h1 text-muted ri-upload-cloud-2-line"></i>
                                        <h3>Drop files here or click to upload. </h3>
                                        <span class="text-muted font-13"><strong>You just need to upload two documents (.pdf).</strong> </span>
                                    </div>
                        
                                <!-- Preview -->
                                <div class="dropzone-previews mt-3" id="file-previews"></div>

                            </div> <!-- end preview-->
                        </div> <!-- end tab-content-->
                    </form>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
    </div>

    <div class="row d-none" id="loader">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
    </div>

<!--- show results -->
    <div class="row d-none" id="showresult">
        <div class="col-lg-12">
            <div class="card">
                <div class="row g-0 align-items-center">
                    <div class="col-md-5">    

                            <ul class="nav nav-pills bg-nav-pills nav-justified mb-2">
                                <li class="nav-item">
                                    <a href="#tabcontent1" data-bs-toggle="tab" aria-expanded="true" class="nav-link rounded-0 active">
                                        <span class="d-none d-md-block" id="tabname1"></span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tabcontent2" data-bs-toggle="tab" aria-expanded="false" class="nav-link rounded-0">
                                        <span class="d-none d-md-block" id="tabname2"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="tabcontent1">
                                </div>
                                <div class="tab-pane" id="tabcontent2">
                                </div>
                            </div>

                    </div>
                    <div class="col-md-7">
                        <div class="card-body">
                            <h2 class="header-title mt-0 mb-3">Document Comparison Result <span class="badge bg-success rounded-pill">Analysis Success</span></h2>
                            <p class="text-muted font-16 mb-3" id="show-message-result"></p>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
    </div>
 

</div>
<!-- container -->

@section Scripts {
    @{await Html.RenderPartialAsync("_DocumentComparisonScriptsPartial");}
}