:root {
    --main-color: #070F26;
    --border-color: #0072BC;
    --layout-background-color: #070F26;
    --layout-text-color: #ffffff;
    --btn-focus-color: #0072BC;
    --btn-hover-color: #0072BC;
    --homeblock-hover-outline-color:#0072BC;
}