@{
    ViewData["Title"] = "Dashboard - Insurance";
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Insurance</li>
                    </ol>
                </div>
                <h4 class="page-title">Insurance</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Campaign Sent">Campaign Sent</h5>
                            <h3 class="my-2 py-1">9,184</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 3.27%</span>
                            </p>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <div id="campaign-sent-chart" data-colors="#727cf5"></div>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="New Leads">New Leads</h5>
                            <h3 class="my-2 py-1">3,254</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-danger me-2"><i class="mdi mdi-arrow-down-bold"></i> 5.38%</span>
                            </p>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <div id="new-leads-chart" data-colors="#0acf97"></div>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Deals">Deals</h5>
                            <h3 class="my-2 py-1">861</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 4.87%</span>
                            </p>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <div id="deals-chart" data-colors="#727cf5"></div>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->

        <div class="col-md-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <h5 class="text-muted fw-normal mt-0 text-truncate" title="Booked Revenue">Booked Revenue</h5>
                            <h3 class="my-2 py-1">$253k</h3>
                            <p class="mb-0 text-muted">
                                <span class="text-success me-2"><i class="mdi mdi-arrow-up-bold"></i> 11.7%</span>
                            </p>
                        </div>
                        <div class="col-6">
                            <div class="text-end">
                                <div id="booked-revenue-chart" data-colors="#0acf97"></div>
                            </div>
                        </div>
                    </div> <!-- end row-->
                </div> <!-- end card-body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-lg-5">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="header-title">Campaigns</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Today</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Last Week</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div id="dash-campaigns-chart" class="apex-charts" data-colors="#ffbc00,#727cf5,#0acf97"></div>

                    <div class="row text-center mt-3">
                        <div class="col-sm-4">
                            <i class="mdi mdi-send widget-icon rounded-circle bg-warning-lighten text-warning"></i>
                            <h3 class="fw-normal mt-3">
                                <span>6,510</span>
                            </h3>
                            <p class="text-muted mb-0 mb-2"><i class="mdi mdi-checkbox-blank-circle text-warning"></i> Total Sent</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="mdi mdi-flag-variant widget-icon rounded-circle bg-primary-lighten text-primary"></i>
                            <h3 class="fw-normal mt-3">
                                <span>3,487</span>
                            </h3>
                            <p class="text-muted mb-0 mb-2"><i class="mdi mdi-checkbox-blank-circle text-primary"></i> Reached</p>
                        </div>
                        <div class="col-sm-4">
                            <i class="mdi mdi-email-open widget-icon rounded-circle bg-success-lighten text-success"></i>
                            <h3 class="fw-normal mt-3">
                                <span>1,568</span>
                            </h3>
                            <p class="text-muted mb-0 mb-2"><i class="mdi mdi-checkbox-blank-circle text-success"></i> Opened</p>
                        </div>
                    </div>
                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->

        <div class="col-lg-7">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="header-title">Revenue</h4>
                    <div>
                        <button type="button" class="btn btn-soft-secondary btn-sm">
                            ALL
                        </button>
                        <button type="button" class="btn btn-soft-primary btn-sm">
                            1M
                        </button>
                        <button type="button" class="btn btn-soft-secondary btn-sm">
                            6M
                        </button>
                        <button type="button" class="btn btn-soft-secondary btn-sm">
                            1Y
                        </button>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="chart-content-bg">
                        <div class="row text-center">
                            <div class="col-sm-6">
                                <p class="text-muted mb-0 mt-3">Current Month</p>
                                <h2 class="fw-normal mb-3">
                                    <span>$42,025</span>
                                </h2>
                            </div>
                            <div class="col-sm-6">
                                <p class="text-muted mb-0 mt-3">Previous Month</p>
                                <h2 class="fw-normal mb-3">
                                    <span>$74,651</span>
                                </h2>
                            </div>
                        </div>
                    </div>

                    <div dir="ltr">
                        <div id="dash-revenue-chart" class="apex-charts" data-colors="#0acf97,#fa5c7c"></div>
                    </div>

                </div>
                <!-- end card body-->
            </div>
            <!-- end card -->
        </div>
        <!-- end col-->
    </div>
    <!-- end row-->


    <div class="row">
        <div class="col-xl-4 col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="header-title">Top Performing</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-sm table-nowrap table-centered mb-0">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Leads</th>
                                    <th>Deals</th>
                                    <th>Tasks</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h5 class="font-15 mb-1 fw-normal">Jeremy Young</h5>
                                        <span class="text-muted font-13">Senior Sales Executive</span>
                                    </td>
                                    <td>187</td>
                                    <td>154</td>
                                    <td>49</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-15 mb-1 fw-normal">Thomas Krueger</h5>
                                        <span class="text-muted font-13">Senior Sales Executive</span>
                                    </td>
                                    <td>235</td>
                                    <td>127</td>
                                    <td>83</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-15 mb-1 fw-normal">Pete Burdine</h5>
                                        <span class="text-muted font-13">Senior Sales Executive</span>
                                    </td>
                                    <td>365</td>
                                    <td>148</td>
                                    <td>62</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-15 mb-1 fw-normal">Mary Nelson</h5>
                                        <span class="text-muted font-13">Senior Sales Executive</span>
                                    </td>
                                    <td>753</td>
                                    <td>159</td>
                                    <td>258</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h5 class="font-15 mb-1 fw-normal">Kevin Grove</h5>
                                        <span class="text-muted font-13">Senior Sales Executive</span>
                                    </td>
                                    <td>458</td>
                                    <td>126</td>
                                    <td>73</td>
                                    <td class="table-action">
                                        <a href="javascript: void(0);" class="action-icon"> <i class="mdi mdi-eye"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div>
        <!-- end col-->

        <div class="col-xl-4 col-lg-6">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="header-title">Recent Leads</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-2">
                    <div class="d-flex align-items-start">
                        <img class="me-3 rounded-circle" src="/images/users/avatar-2.jpg" width="40" alt="Generic placeholder image">
                        <div class="w-100 overflow-hidden">
                            <span class="badge badge-warning-lighten float-end">Cold lead</span>
                            <h5 class="mt-0 mb-1">Risa Pearson</h5>
                            <span class="font-13">richard.john@mail.com</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mt-3">
                        <img class="me-3 rounded-circle" src="/images/users/avatar-3.jpg" width="40" alt="Generic placeholder image">
                        <div class="w-100 overflow-hidden">
                            <span class="badge badge-danger-lighten float-end">Lost lead</span>
                            <h5 class="mt-0 mb-1">Margaret D. Evans</h5>
                            <span class="font-13">margaret.evans@rhyta.com</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mt-3">
                        <img class="me-3 rounded-circle" src="/images/users/avatar-4.jpg" width="40" alt="Generic placeholder image">
                        <div class="w-100 overflow-hidden">
                            <span class="badge badge-success-lighten float-end">Won lead</span>
                            <h5 class="mt-0 mb-1">Bryan J. Luellen</h5>
                            <span class="font-13">bryuellen@dayrep.com</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mt-3">
                        <img class="me-3 rounded-circle" src="/images/users/avatar-5.jpg" width="40" alt="Generic placeholder image">
                        <div class="w-100 overflow-hidden">
                            <span class="badge badge-warning-lighten float-end">Cold lead</span>
                            <h5 class="mt-0 mb-1">Kathryn S. Collier</h5>
                            <span class="font-13">collier@jourrapide.com</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mt-3">
                        <img class="me-3 rounded-circle" src="/images/users/avatar-1.jpg" width="40" alt="Generic placeholder image">
                        <div class="w-100 overflow-hidden">
                            <span class="badge badge-warning-lighten float-end">Cold lead</span>
                            <h5 class="mt-0 mb-1">Timothy Kauper</h5>
                            <span class="font-13">thykauper@rhyta.com</span>
                        </div>
                    </div>

                    <div class="d-flex align-items-start mt-3">
                        <img class="me-3 rounded-circle" src="/images/users/avatar-6.jpg" width="40" alt="Generic placeholder image">
                        <div class="w-100 overflow-hidden">
                            <span class="badge badge-success-lighten float-end">Won lead</span>
                            <h5 class="mt-0 mb-1">Zara Raws</h5>
                            <span class="font-13">austin@dayrep.com</span>
                        </div>
                    </div>
                        
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
        <!-- end col -->  
        
        <div class="col-xl-4 col-lg-6">

            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4 class="header-title">Transactions</h4>
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="mdi mdi-dots-vertical"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Settings</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Action</a>
                        </div>
                    </div>
                </div>

                <div class="card-body pt-2" data-simplebar style="max-height: 420px;">
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-up text-danger font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Purchased Fruit</a>
                            <p class="mb-0 text-muted"><small>Today</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-danger fw-bold pe-2">-$489.30</span>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-down text-success font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Payment received Bootstrap Marketplace</a>
                            <p class="mb-0 text-muted"><small>Yesterday</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-success fw-bold pe-2">+$1578.54</span>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-down text-success font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Freelance work - Shane</a>
                            <p class="mb-0 text-muted"><small>16 Sep 2018</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-success fw-bold pe-2">+$247.5</span>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-up text-danger font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Hire new developer for work</a>
                            <p class="mb-0 text-muted"><small>09 Sep 2018</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-danger fw-bold pe-2">-$185.14</span>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-down text-success font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Money received from paypal</a>
                            <p class="mb-0 text-muted"><small>28 Aug 2018</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-success fw-bold pe-2">+$684.45</span>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-up text-danger font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Zairo landing purchased</a>
                            <p class="mb-0 text-muted"><small>17 Aug 2018</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-danger fw-bold pe-2">-$21.00</span>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-up text-danger font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Purchased Ubold admin template</a>
                            <p class="mb-0 text-muted"><small>17 Aug 2018</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-danger fw-bold pe-2">-$32.89</span>
                        </div>
                    </div>
                    <div class="row py-1 align-items-center">
                        <div class="col-auto">
                            <i class="mdi mdi-arrow-collapse-down text-success font-18"></i>
                        </div>
                        <div class="col ps-0">
                            <a href="javascript:void(0);" class="text-body">Interest received</a>
                            <p class="mb-0 text-muted"><small>09 Sep 2018</small></p>
                        </div>
                        <div class="col-auto">
                            <span class="text-success fw-bold pe-2">+$784.55</span>
                        </div>
                    </div>
                </div> <!-- end slimscroll -->
            </div>
            <!-- end card-->

        </div>
        <!-- end col -->  
    </div>
    <!-- end row-->
    
</div> 
<!-- container -->

@section Scripts {
    @{await Html.RenderPartialAsync("_InsuranceScriptsPartial");}
}