@model BrandAnalyzerModel

@{
    ViewData["Title"] = "Brand Analyzer";
}

<!-- Start Content-->
<div class="container-fluid">
    
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">Services</li>
                        <li class="breadcrumb-item active">Brand Analyzer</li>
                    </ol>
                </div>
                <h4 class="page-title">Brand Analyzer</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Brand Analyzer with Azure OpenAI Services</h4>
                    <p class="text-muted font-14">
                        Analyze your brand's internet reputation by inserting the name of the company below.
                    </p>
                    <div class="tab-pane show active" id="basic-form-preview" role="tabpanel">
                        <form asp-controller="BrandAnalyzer" asp-action="AnalyzeCompany" id="brandform" method="post">
                            <div class="mb-3">
                                <label for="fname" class="form-label">Company Name:</label>
                                <input type="text" class="form-control" id="companyName" name="companyName" aria-describedby="companyName" placeholder="Company Name" value="@(Model?.CompanyName ?? "Microsoft")">
                            </div>
                            <div class="mb-3">
                                <label for="text" class="form-label">Prompt:</label>
                                <textarea class="form-control" id="prompt" name="prompt" rows="3"> @(Model?.Prompt ?? "Tell me the overall opinion of the internet users about the company, highlighting the positive and negative aspects. Show 2 main blocks with bullets and a final conclusion. Please reply me in Spanish.") </textarea>
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="submitForm()">Start Analysis</button>
                        </form>                                      
                    </div> <!-- end preview-->
                </div>
            </div>
        </div>
    </div>

    <div class="row d-none" id="loader">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card-->
        </div>
    </div>

@if (ViewBag.Message != null)
{
    <!-- end row -->    
    <!--- show results -->
    <div class="row" id="showresult">
        <div class="col-lg-12">
            <div class="card">
                <div class="row g-0 align-items-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <h2 class="header-title mt-0 mb-3">Text Analyze Result <span class="badge bg-success rounded-pill">Analysis Success</span></h2>
                            <p class="text-muted font-16 mb-3" id="show-message-result">@Html.Raw(ViewBag.Message.Replace("\n", "<br />"))</p>
                        </div> 
                    </div>
                </div>
            </div> 
        </div>
    </div>
}

</div>
<!-- container -->



@section Scripts {
    @{await Html.RenderPartialAsync("_BrandAnalyzerScriptsPartial");}
}