@inject IConfiguration Configuration
@{
    ViewData["Title"] = "AOAI Demo Center";
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <span class="logo-xl">
                    <img src="/images/aihub-logo-icon.png" alt="AI Hub Demo">
                </span>
            </div>
            <div class="text-center">
                <h2 class="">Welcome to Azure AI Hub Demo</h2>
                <p class="text-muted mt-3">Where innovation meets technology to bring you the best solutions for your
                    business needs, <br> we continuously strive to transform and improve your enterprise through our
                    comprehensive range of services.</p>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="row pt-5">
        <div class="col-lg-5 offset-lg-1">
            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">1</div>
                <h4 class="faq-question" data-wow-delay=".1s">Chat with your data</h4>
                <p class="faq-answer mb-4">Talk to your documents using GPT</p>
            </div>
            <div>
                <div class="faq-question-q-box">2</div>
                <h4 class="faq-question" data-wow-delay=".1s">Audio Transcription</h4>
                <p class="faq-answer mb-4">Transcribe your audios using Speech services</p>
            </div>
            <div>
                <div class="faq-question-q-box">3</div>
                <h4 class="faq-question" data-wow-delay=".1s">Call Center Analytics</h4>
                <p class="faq-answer mb-4">Analyze your call transcripts as you want</p>
            </div>
            <div>
                <div class="faq-question-q-box">4</div>
                <h4 class="faq-question" data-wow-delay=".1s">Image Analyzer</h4>
                <p class="faq-answer mb-4">Analyze your images using GPT4 vision model</p>
            </div>
            <div>
                <div class="faq-question-q-box">5</div>
                <h4 class="faq-question" data-wow-delay=".1s">Video Analyzer</h4>
                <p class="faq-answer mb-4">Analyze your videos using GPT4 vision model</p>
            </div>

        </div>
        <!--/col-md-5 -->

        <div class="col-lg-5">

            <div>
                <div class="faq-question-q-box">6</div>
                <h4 class="faq-question" data-wow-delay=".1s">Form Analyzer</h4>
                <p class="faq-answer mb-4">Analyze your pdf documents with a custom ask</p>
            </div>
            <div>
                <div class="faq-question-q-box">7</div>
                <h4 class="faq-question" data-wow-delay=".1s">Document Comparison</h4>
                <p class="faq-answer mb-4">Compare 2 documents to see which are the differences</p>
            </div>
            <div>
                <div class="faq-question-q-box">8</div>
                <h4 class="faq-question" data-wow-delay=".1s">Brand Analyzer</h4>
                <p class="faq-answer mb-4">Analyze your brand's internet reputation with a click</p>
            </div>
            <div>
                <div class="faq-question-q-box">9</div>
                <h4 class="faq-question" data-wow-delay=".1s">Content Safety</h4>
                <p class="faq-answer mb-4">Moderate text and image content</p>
            </div>
            <div>
                <div class="faq-question-q-box">10</div>
                <h4 class="faq-question" data-wow-delay=".1s">Jailbreak Detection</h4>
                <p class="faq-answer mb-4">Detect any jailbreak attempt in your prompts</p>
            </div>

        </div>
        <!--/col-md-5-->

    </div>
    <!-- end row -->

</div> <!-- container -->