@inject IConfiguration Configuration
@{
    ViewData["Title"] = "AOAI Demo Center";
}

<!-- Start Content-->
<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">Dashboard</li>
                        <li class="breadcrumb-item active">Home</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-sm-12">
            <div class="text-center">
                <h2 class="">Welcome to NTT DATA Azure OpenAI Demo Center</h2>
                <p class="text-muted mt-3">Where innovation meets technology to bring you the best solutions for your business needs, <br> we continuously strive to transform and improve your enterprise through our comprehensive range of services.</p>

                <button type="button" class="btn btn-success btn-sm mt-2"><i class="mdi mdi-email-outline me-1"></i> Email us your question</button>
                <button type="button" class="btn btn-info btn-sm mt-2 ms-1"><i class="mdi mdi-microsoft me-1"></i> Microsoft Business Group</button>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->

    <div class="row pt-5">
        <div class="col-lg-5 offset-lg-1">
            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question" data-wow-delay=".1s">What is Azure Open AI and how does it work?</h4>
                <p class="faq-answer mb-4">Azure Open AI is a Microsoft artificial intelligence platform that allows developers to create intelligent applications using advanced AI tools and services.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">What are the main features of Azure Open AI?</h4>
                <p class="faq-answer mb-4">The main features of Azure Open AI include machine learning, natural language processing, computer vision, and predictive analytics.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">How can I integrate Azure Open AI into my business?</h4>
                <p class="faq-answer mb-4">You can integrate Azure Open AI into your business by implementing AI APIs and SDKs, and creating custom applications using Azure's AI services.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">How NTT DATA and Azure Open AI can help improve my business capabilities?</h4>
                <p class="faq-answer mb-4">NTT DATA is a leading technology services company that can provide customized solutions and advanced artificial intelligence services using Azure Open AI. By working with NTT DATA, you can have access to advanced AI tools and resources that can help you improve your business efficiency and accuracy, and make informed, real-time data-driven decisions. Additionally, NTT DATA has a team of AI experts who can help you design and implement customized AI solutions tailored to the unique needs of your business. With NTT DATA's AI services and Azure Open AI, you can fully leverage the potential of artificial intelligence and take your business to the next level.</p>
            </div>
            
        </div>
        <!--/col-md-5 -->

        <div class="col-lg-5">
            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">What are the costs associated with Azure Open AI?</h4>
                <p class="faq-answer mb-4">The costs associated with Azure Open AI vary depending on the service and usage. Azure offers a consumption-based pricing option and monthly pricing plans.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">What kind of business problems can Azure Open AI solve?</h4>
                <p class="faq-answer mb-4">Azure Open AI can help solve business problems in areas such as data analysis, process automation, customer service, and decision-making.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question">How can I ensure the security and privacy of my data in Azure Open AI?</h4>
                <p class="faq-answer mb-4">Azure Open AI has advanced data security and privacy measures in place to ensure the protection of your data. You can also configure additional measures to ensure the security of your data.</p>
            </div>

            <!-- Question/Answer -->
            <div>
                <div class="faq-question-q-box">Q.</div>
                <h4 class="faq-question" data-wow-delay=".1s">How can I access Azure Open AI services?</h4>
                <p class="faq-answer mb-4">You can access Azure Open AI services through the Azure portal or via AI APIs and SDKs.</p>
            </div>

        </div>
        <!--/col-md-5-->

    </div>
    <!-- end row -->
    
</div> <!-- container -->