@inject IConfiguration Configuration
@{
    ViewData["Title"] = "Alma Bank Demo Suite";
}

<div>
    <h1 class="homeTitle">Alma Bank Demo Suite</h1>
    <h2 class="homeSubTitle">Hello! Welcome to Alma Bank Demo Suite, please choose a demo...</h2>
</div>

<ul class="homeBlockNavList">
    <li key="chat">
        <a href="@Configuration["ChatOnYourData:Link"]" target="_blank" style="text-decoration: none">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M168.2 384.9c-15-5.4-31.7-3.1-44.6 6.4c-8.2 6-22.3 14.8-39.4 22.7c5.6-14.7 9.9-31.3 11.3-49.4c1-12.9-3.3-25.7-11.8-35.5C60.4 302.8 48 272 48 240c0-79.5 83.3-160 208-160s208 80.5 208 160s-83.3 160-208 160c-31.6 0-61.3-5.5-87.8-15.1zM26.3 423.8c-1.6 2.7-3.3 5.4-5.1 8.1l-.3 .5c-1.6 2.3-3.2 4.6-4.8 6.9c-3.5 4.7-7.3 9.3-11.3 13.5c-4.6 4.6-5.9 11.4-3.4 17.4c2.5 6 8.3 9.9 14.8 9.9c5.1 0 10.2-.3 15.3-.8l.7-.1c4.4-.5 8.8-1.1 13.2-1.9c.8-.1 1.6-.3 2.4-.5c17.8-3.5 34.9-9.5 50.1-16.1c22.9-10 42.4-21.9 54.3-30.6c31.8 11.5 67 17.9 104.1 17.9c141.4 0 256-93.1 256-208S397.4 32 256 32S0 125.1 0 240c0 45.1 17.7 86.8 47.7 120.9c-1.9 24.5-11.4 46.3-21.4 62.9zM144 272a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm144-32a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm80 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64z" />
                </svg>
                <p class="homeBlockText">Chat on your Data</p>
                <p class="homeBlockTextDetail">Interact with a virtual assistant trained with your own data</p>
            </div>
        </a>
    </li>
    <li key="audiotranscription">
        <a asp-area="" style="text-decoration: none" asp-controller="AudioTranscription" asp-action="AudioTranscription">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zm2 226.3c37.1 22.4 62 63.1 62 109.7s-24.9 87.3-62 109.7c-7.6 4.6-17.4 2.1-22-5.4s-2.1-17.4 5.4-22C269.4 401.5 288 370.9 288 336s-18.6-65.5-46.5-82.3c-7.6-4.6-10-14.4-5.4-22s14.4-10 22-5.4zm-91.9 30.9c6 2.5 9.9 8.3 9.9 14.8V400c0 6.5-3.9 12.3-9.9 14.8s-12.9 1.1-17.4-3.5L113.4 376H80c-8.8 0-16-7.2-16-16V312c0-8.8 7.2-16 16-16h33.4l35.3-35.3c4.6-4.6 11.5-5.9 17.4-3.5zm51 34.9c6.6-5.9 16.7-5.3 22.6 1.3C249.8 304.6 256 319.6 256 336s-6.2 31.4-16.3 42.7c-5.9 6.6-16 7.1-22.6 1.3s-7.1-16-1.3-22.6c5.1-5.7 8.1-13.1 8.1-21.3s-3.1-15.7-8.1-21.3c-5.9-6.6-5.3-16.7 1.3-22.6z"/>
                </svg>
                <p class="homeBlockText">Audio Transcription</p>
                <p class="homeBlockTextDetail">Transcribe audio files</p>
            </div>
        </a>
    </li>
    <li key="callcenter">
        <a asp-area="" style="text-decoration: none" asp-controller="CallCenter" asp-action="CallCenter">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M256 48C141.1 48 48 141.1 48 256v40c0 13.3-10.7 24-24 24s-24-10.7-24-24V256C0 114.6 114.6 0 256 0S512 114.6 512 256V400.1c0 48.6-39.4 88-88.1 88L313.6 488c-8.3 14.3-23.8 24-41.6 24H240c-26.5 0-48-21.5-48-48s21.5-48 48-48h32c17.8 0 33.3 9.7 41.6 24l110.4 .1c22.1 0 40-17.9 40-40V256c0-114.9-93.1-208-208-208zM144 208h16c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H144c-35.3 0-64-28.7-64-64V272c0-35.3 28.7-64 64-64zm224 0c35.3 0 64 28.7 64 64v48c0 35.3-28.7 64-64 64H352c-17.7 0-32-14.3-32-32V240c0-17.7 14.3-32 32-32h16z" />
                </svg>
                <p class="homeBlockText">Call Center Analytics</p>
                <p class="homeBlockTextDetail">Analyze call center trancripts</p>
            </div>
        </a>
    </li>
    <li key="imageanalyzer">
        <a asp-area="" style="text-decoration: none" asp-controller="ImageAnalyzer" asp-action="ImageAnalyzer">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M448 80c8.8 0 16 7.2 16 16V415.8l-5-6.5-136-176c-4.5-5.9-11.6-9.3-19-9.3s-14.4 3.4-19 9.3L202 340.7l-30.5-42.7C167 291.7 159.8 288 152 288s-15 3.7-19.5 10.1l-80 112L48 416.3l0-.3V96c0-8.8 7.2-16 16-16H448zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm80 192a48 48 0 1 0 0-96 48 48 0 1 0 0 96z" />
                </svg>
                <p class="homeBlockText">Image Analyzer</p>
                <p class="homeBlockTextDetail">Analyze your image using GPT4 and Azure Vision Services</p>
            </div>
        </a>
    </li>
    </ul>
    <ul class="homeBlockNavList">
    <li key="brandanalyzer">
        <a asp-area="" style="text-decoration: none" asp-controller="BrandAnalyzer" asp-action="BrandAnalyzer">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z" />
                </svg>
                <p class="homeBlockText">Brand Analyzer</p>
                <p class="homeBlockTextDetail">Analyze your brand's internet reputation</p>
            </div>
        </a>
    </li>
    <li key="formanalyzer">
        <a asp-area="" style="text-decoration: none" asp-controller="FormAnalyzer" asp-action="FormAnalyzer">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z" />
                </svg>
                <p class="homeBlockText">Form Analyzer</p>
                <p class="homeBlockTextDetail">Summarize and ask questions to your documents</p>
            </div>
        </a>
    </li>


    <li key="textmodetator">
        <a asp-area="" style="text-decoration: none" asp-controller="ContentSafety" asp-action="TextModerator">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z" />
                </svg>
                <p class="homeBlockText">Content Safety</p>
                <p class="homeBlockTextDetail">Text Moderator: Moderate text by adding the thresholds for different
                    flags</p>
            </div>
        </a>
    </li>
    <li key="imagemoderator">
        <a asp-area="" style="text-decoration: none" asp-controller="ContentSafety" asp-action="ImageModerator">
            <div class="homeBlock">
                <svg style="fill: var(--main-color)" xmlns="http://www.w3.org/2000/svg" height="2em"
                    viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @@fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                        d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z" />
                </svg>
                <p class="homeBlockText">Content Safety</p>
                <p class="homeBlockTextDetail">Image Moderator: Moderate images by adding the thresholds for different
                    flags</p>
            </div>
        </a>
    </li>
</ul>
