@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>For any comments about the site, please contact the authors: Roberto Arocha, Hector Blasco, Monica Calleja, Ane Iturzaeta</p>
